
html{
  font-size: 75%;
}
body{
    height: 100%;
   background-image: url(../Images/new4.jpg);
   background-size: cover;
}


.main{
    padding: 1%;
    background: beige;
    width: 80%;
    height: 75rem;
    margin: 1% 10%;
    border: 7px solid red;
    border-radius: 7px;
    display: block;
    box-sizing: border-box;
}

.row{
    float: left;
    width: 100%;
    margin: 1% 10%;
    box-sizing: border-box;
    display: block;
}

.label{
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.data{
    float: left;
    width: 60%;
    box-sizing: border-box;
}

.row:last-child{
    margin-left: 0%;
    margin-top: 1%;
    
}

.subject{
    width: 16%;
    float: left;
    padding: 1%;
    height: 20em;
    margin-right: 5%;
    margin-left: none;
    background-color: lightcoral;
    color: beige;
    text-align: center;
    font-size: 100%;
    box-sizing: border-box;
}

.subject:last-child{
    margin-right: 0%;
}

.subject2{
    width: 45%;
    margin-left: 30%;
    background-color: lightcoral;
    color: beige;
    text-align: center;
    font-size: 100%;
    box-sizing: border-box;
}

.row2{
    float: left;
    width: 100%;
    margin-top: -6.5%;
    box-sizing: border-box;
    display: block;
}

.back img{
    margin-left: 2.5%;
    width: 5%;
    float: left;
}